html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 16px;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.logo {
  font-weight: 800;
  line-height: 0.85em;
  font-size: 1.2em;
  flex-shrink: 0;
}

.logo-the {
  color: #aaa;
}

.logo-build {
  color: #666;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
}

.header {
  padding: 16px;
  display: flex;
  gap: 16px;
  max-width: 100%;
}

.search {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  border: 2px solid #000;
  border-radius: 8px;
}

.search input {
  padding: 0 16px;
  flex-grow: 1;
  flex-shrink: 1;
  border: 0;
  background: transparent;
  outline: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 1em;
  width: 0;
}

.search button {
  padding: 0 32px;
  border: 0;
  background: transparent;
  border-left: 2px solid #000;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  flex-shrink: 0;
  cursor: pointer;
}

.main {
  margin: 0 16px 16px 16px;
}

.packages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.packages.single {
  grid-template-columns: 1fr;
}

.packages.double {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1150px) {
  .packages {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 740px) {
  .packages {
    grid-template-columns: 1fr;
  }
}

.package {
  background-color: #fafafa;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.package a {
  text-decoration: underline;
}

.package-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow: hidden; /* fix shadow */
  box-sizing: border-box;
}

.package-page .package,
.package-page .package:hover {
  cursor: default;
  box-shadow: none;
}

.package.selected,
.package:hover {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.package img.package-icon {
  width: 16px;
}

.package img.package-image {
  width: 32px;
  height: 32px;
  top: 16px;
  right: 16px;
  border-radius: 4px;
}

.package-header {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
  margin-bottom: 8px;
  align-items: center;
}

.package-name {
  font-weight: 700;
  font-size: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
}

.package-stats {
  display: flex;
  gap: 8px 16px;
  align-items: center;
  font-weight: 400;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.package-page .package-stats {
  margin-bottom: 8px;
  gap: 8px 16px;
}

.package-stats a {
  text-decoration: none;
}

.package-visibility {
  text-transform: capitalize;
}

.package-stats div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.package-description {
  margin-top: 8px;
  color: #999;
  line-height: 1.4em;
}

.package-page .package-description {
  margin-top: 0px;
}

.release-header {
  display: flex;
  align-items: baseline;
}

.release-name {
  font-size: 2em;
  font-weight: 700;
}

.release-date {
  flex-grow: 1;
  margin-left: 8px;
  color: #999;
}

.package-release-dropdown {
  font-size: 1.2em;
  padding: 4px;
  float: right;
}

.tabs {
  display: flex;
  gap: 16px;
}

.tab {
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  flex-grow: 1;
  width: 1px;
  border-radius: 8px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.tab:hover,
.tab.selected {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}

pre,
code {
  white-space: pre-wrap;
  overflow: auto;
}

.package-rendered li {
  margin-bottom: 4px;
}

.packages-load-more {
  width: 100%;
  padding: 32px;
  font-weight: 700;
  font-size: 1.2em;
  background: #000;
  color: #fff;
  border: 0;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
}

.anchor {
}

.anchor {
  float: left;
  margin-left: -16px;
  padding-right: 0px;
  line-height: 1;
}

.octicon-link {
  display: none;
  vertical-align: middle;
}

h1:hover .octicon-link,
h2:hover .octicon-link,
h3:hover .octicon-link,
h4:hover .octicon-link,
h5:hover .octicon-link,
h6:hover .octicon-link {
  display: inline-block;
}
