name: Update

on:
  schedule:
    - cron: "0 */4 * * *"

  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  update:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Fetch data
        run: |
          go run tools/update.go --fetch=true --clone=true
      - name: Update flags
        run: |
          go run settings/settings.go
      - name: Build Website
        run: |
          bazel build //website
          rm -rf website/build
          mkdir -p website/build
          cd website/build
          tar -xf ../../bazel-bin/website/website.tar
          touch .nojekyll
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Diff
        run: |
          go install github.com/tomnomnom/gron@latest
          npm install -g json-diff
          cp diff/gitconfig ~/.gitconfig
          chmod +x diff/json-diff
          git jdiff > data/diff.txt
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update data
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: website/build
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
      - name: Print Github Rate limit
        run: |
          curl -L \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $GITHUB_TOKEN"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/rate_limit
      - name: Tweet
        run: |
          sleep 360
          go run tweet/tweet.go --consumer_key=${{ secrets.TWITTER_CONSUMER_API_KEY }} --consumer_secret=${{ secrets.TWITTER_CONSUMER_API_SECRET }} --access_token=${{ secrets.TWITTER_ACCESS_TOKEN }} --access_token_secret=${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
